@model Core.Appointment

@{
    ViewData["Title"] = "Create";
}
<script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>
<h1>Create</h1>
<h4>Appointment</h4>
<hr/>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" value="today"/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentType" class="control-label"></label>
                <span asp-validation-for="AppointmentType" class="text-danger"></span>
                <select asp-for="AppointmentType" class="form-control">
                    <option value="Intake">Intake</option>
                    <option value="Session">Session</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Employee</label>
                <select asp-for="EmployeeId" class="form-control" id="employee" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

<div class="row pb-3">
    <p id="data"></p>
</div>

<script>
//get dates
$( '#employee' ).change(function() {
  var selectedName = $(this).children('option:selected').val();
  $.ajax({
                      type: "POST",
                      url: "/appointment/getDetails",
                      data: "id=" + selectedName,
                      success: function (data) {
                          const element = document.getElementById('data');
                          element.innerText = "";
                          if (data.length > 0) {
                              data.forEach(function(item) {
                                    var date = new Date(item.availableFrom).toLocaleString(); 
                                    var date2 = new Date(item.availableTo).toLocaleString(); 
                                    const labelFrom = document.createElement("label");
                                    const labelTo = document.createElement("label");
                                    const labelFromText = document.createTextNode("Available from:");
                                    const labelToText = document.createTextNode("Available To:");
                                    const pFrom = document.createElement("p");
                                    const pTo = document.createElement("p");
                                    const from = document.createTextNode(date);
                                    const to = document.createTextNode(date2);
                                    labelFrom.appendChild(labelFromText);
                                    labelTo.appendChild(labelToText);
                                    pFrom.appendChild(from);
                                    pTo.appendChild(to);
                                    element.appendChild(labelFrom);
                                    element.appendChild(pFrom);
                                    element.appendChild(labelTo);
                                    element.appendChild(pTo);
                              });
                          }
                      }
                  });
});
</script>