@model Core.Intake

<h1>Edit</h1>

<h4>Intake</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntakeId"/>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeById" class="control-label"></label>
                <select asp-for="IntakeById" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="IntakeById" class="text-danger"></span>
            </div>
            @if (User.IsInRole("STUDENT_EMPLOYEE"))
            {

                <div class="form-group">
                    <label asp-for="IntakeSuperVisor" class="control-label"></label>
                    <select asp-for="IntakeSuperVisor" class="form-control" asp-items="ViewBag.EmployeeName"></select>
                    <span asp-validation-for="IntakeSuperVisor" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>