@page
@model Dashboard.Views.Account.AccesDenied
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Acces denied
</div>
</body>
</html>