@model RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Register" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="PasswordHash">Password</label>
        <div>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>
        <input asp-for="PasswordHash" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <input asp-for="PhoneNumber" type="text" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>